html{
	height: 100%;
} 

body{
	height: 100%;
	text-align: center;
	margin: 0;
	padding: 0;
	background-image: url("./images/jelly1.jpg"); /*Photo by Masaaki Komori on Unsplash*/
	background-size: auto;
}

table{
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
	text-shadow: 2px 2px black;
	color: white;
}

h1{
	width: 100%;
	color: white;
	height: 100%;
}

h2{
	width: 100%;
	margin-bottom: 0;
	color: white;
}

h3{
	margin: 0;
}

.codes{
	width: 40%;
}

.navbar{
	height: 5%;
}

.fixed-top{
	padding-top: 0;
}