html{
	height: 100%;
} 

body{
	height: 100%;
	text-align: center;
	margin: 0;
	padding: 0;
}

table{
	margin-left: auto;
	margin-right: auto;
	height: 10%;
}

h1{
	width: 100%;
	color: white;
	height: 100%;
}

h2{
	width: 100%;
	margin-bottom: 0;
	color: white;
}

h3{
	margin: 0;
}

.codes{
	width: 45%;
}

.navbar{
	height: 5%;
}

.fixed-top{
	padding-top: 0;
}